* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  background-color: #fff;
  padding: 0 10% 0 10%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
}

ul {
  list-style: none;
}

a {
  color: #2D4731;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

a:focus {
  text-decoration: underline;
  color: rgb(14, 65, 22);
}

.logo .a:hover {
  text-decoration: none;
}

.menu li {
  font-size: 14px;
  padding: 15px 5px;
  white-space: nowrap;
}

.toggle a {
  font-size: 20px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item {
  width: 100%;
  text-align: center;
  order: 2;
  display: none;
}

.active {
  display: block;
}

.active:hover {
  background-color: #2D4731;
  color: #fff;
}

section {
  text-align: center;
  padding: 12% 10%;
  font-size: 18px;
}

#home-section {
  background-image: url('/res/images/headerimage.png');
  background-repeat: no-repeat;
  height: auto;
  color: white;
  margin-top: 30%;
}

.home-title p {
  font-size: 18px;
}

#emphasized-title {
  font-size: 20px;
  font-style: italic;
  color: #2D4731;
}

#home-alt {
  background-color: #F1F1F1;
}

.alt-heading {
  display: none;
}

.section-title {
  color: #2D4731;
}

.section-title img {
  width: 80vw;
}

#contact-section {
  background-color: #F1F1F1;
}

footer {
  padding: 12% 10%;
  font-size: 18px;
  color: white;
  background-color: #4E6452;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: white;
}

/* Desktop media query */
@media all and (min-width : 900px) {
  nav ul li {
    padding: 2% 10% 2% 10%;
  }

  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
    flex: 1;
  }

  .item {
    order: 1;
  }

  .menu li {
    padding: 15px 10px;
    font-size: 20px;
  }

  section {
    font-size: 20px;
    text-align: left;
    padding: 0;
  }

  .content {
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;
  }

  .alt-heading {
    display: block;
    color: #2D4731;
    font-size: 48px;
  }

  .main-heading {
    display: none;
  }

  .section-title {
    font-size: 48px;
  }

  .home-title p {
    font-size: 60px;
  }

  #emphasized-title {
    font-size: 89px;
  }

  #home-section {
    padding: 10% 10%;
    margin-bottom: -5%;
    margin-top: 0;
  }

  #home-section div {
    max-width: 80%;
    font-size: 30px;
    font-weight: bold;
  }

  #home-alt .section-title img {
    height: 715px;
    width: 654px;
    margin-left: -15%;
    margin-top: 0;
    order: 0;
  }

  #about-section .section-title img {
    height: 263px;
    width: 515px;
  }

  #contact-section {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  #contact-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }

  #contact-div div {
    margin-right: 20%;
    width: auto;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

}

@media all and (min-width : 1925px) {
  body {
    align-items: center;
  }

  section {
    width: 100vw;
  }

  #home-section {
    background-image: none;
    color: black;
  }
}